<!DOCTYPE html>
{% load botshot_extras %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Botshot Admin{% endblock %} - Botshot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #toolbar {
      padding: 20px 0;
      margin-bottom: 20px;
    }
  </style>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<script src="/static/scripts/jquery-3.3.1.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>
  {% block headers %}{% endblock headers %}
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12" id="toolbar">
    {% show_menu_items %}
    </div>
  </div>
  {% block content %}{% endblock content %}
</div>
</body>
</html>
