{% extends "base.html" %}

{% block title %}Messages{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div id="log-chats">
      </div>
    </div>
    <div class="col-xs-6 col-sm-9" id="content">
      Loading...
    </div>
  </div>
</div>
<script type="text/javascript">

var page = 1;
$(function(){

  var $chats = $('#log-chats')
  var $content = $('#content')

 $.get(url='/botshot/log/chats?page='+page, {}, function(data){
    console.log(data)

    var hash_id = window.location.hash ? window.location.hash.replace('#','') : null
    var chat_id = null
    if(!data.results){
      console.log('No chats:', data)
      return;
    }
    for(var i in data.results){
      console.log(i)
      var result = data.results[i]
      // Accept hash ID if it exists in list
      if(result.chat_id == hash_id){
        chat_id = hash_id
      }
      var name = result.first_name + ' ' + result.last_name
      var $chat = $('<a />').attr({'class':'log-chat clearfix','href':'#'+result.chat_id})
      console.log(result.image)
      var $chatImage = $('<span />').attr({'class': 'log-chat-image'}).css({'background-image': 'url('+result.image+')'})
      var $chatText = $('<span />').addClass('log-chat-text').text(name)
      $chat.append($chatImage).append($chatText)
      $chats.append($chat)
    }
    if(!chat_id){
      chat_id = data.results[0].chat_id
    }
    load_chat(chat_id, page);

  });
  $(window).bind('hashchange', function(){
    page = 1;
    load_chat(window.location.hash.replace('#',''), page)
  })
  $(document).on('click', '.message', function(){
      meta = $(this).data('meta')
      //console.log('-- '+ $(this).find('.message-bubble').text()+' -------------')
      console.log(meta)
      var $debug = $(this).find('.debug');
      $debug.html('')
      if(meta.entities) {
        for(var key in meta.entities) {
          for(var i in meta.entities[key]) {
            var entity = meta.entities[key][i];
            console.log(key, entity['value'], entity) 
            $debug.append(key+": "+entity['value']+"<br>")
          }
        }
      }
    })

    function format_message(message){
      var $message = $('<div />')
      if(message.is_from_user){
        $message.addClass('message-user float-right')
      } else {
        $message.addClass('message-bot float-left')
      }
      var $bubble = $('<div />').addClass('message-bubble').text(message.text)
      $message.append($bubble)
      return $message
    }

    function load_chat(id, page){
      if(!id) return;
      $('.log-chat').removeClass('active');
      $('a.log-chat[href="#'+id+'"]').addClass('active');

      if(page == 1){
        $content.html('')
      }
      $.get(url='/botshot/log/messages/'+id+'?page='+page, {}, function(data){
        if(!data.results){
          console.log('No messages:', data)
          return;
        }
        var $div = $('<div />')
        var $older = $('<a/>')
        $older.attr('class','show-older')
        $older.text('Load older...')
        $older.click(function(){
          $(this).hide()
          page += 1
          load_chat(id, page)
        })

        for(var i in data.results){
          var result = data.results[i]
          console.log(result)
          var $message = format_message(result)
          $div.prepend('<div class="clearfix"></div>')
          $div.prepend($message)
        }
        if(data.next){
          $div.prepend($older)
        }
        $content.prepend($div)

        if(page == 1){
          // Scroll down
          setTimeout(function(){
            $content.scrollTop($content.prop("scrollHeight"));
          }, 100)
        }
      })


    }
})


</script>
{% endblock %}



{% block headers %}
<style type="text/css">
body{
 font-family: sans-serif;
}
.message-list {
  width: 500px;
}
.message-bubble {
  display: block;
  margin: 2px;
  padding: 4px 12px;
  background: #e0e0e0;
  border-radius: 5px;
  max-width: 400px;
  font-size: 120%;
}
.message-button {
  display: inline-block;
  min-width: 100px;
  margin: 2px;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 120%;
  border: 1px solid #60b0ff;
  background: #f0f0f0;
  color: #4080ff;
  margin-top: 4px;
}
.message-quick-reply {
  display: inline-block;
  margin: 2px;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 90%;
  border: 1px solid #60b0ff;
  background: #f0f0f0;
  color: #4080ff;
  margin-top: 4px;
}
.message-bot {

}
.message-user .message-bubble{
  background-color: #4080ff;
  color: white;

}
.message-switch {
  margin-top: 10px;
}
.message-elements-scroller {
  margin-bottom: 5px;
}
.message-elements {
  margin-bottom: 5px;
}
.message-element-wrapper {
  display: inline-block;
  margin-right: 10px;
}
.message-element-button {
  display: block;
}
.message-element {
  display: block;
  width: 200px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.message-element-image {
  display: block;
  background-size: cover;
  background-position: center center;
  height: 120px;
}
.message-element-title {
  font-weight: bold;
  font-size: 100%;
  padding: 2px 5px;
  max-height: 44px;
  overflow: hidden;
}
.message-element-subtitle {
  color: #666;
  font-size: 80%;
  padding: 2px 5px;
  max-height: 20px;
  overflow: hidden;
}
.m-error {
  color: red;
  background: #ffeeee;
}
.m-postback {
  font-style: italic;
  -webkit-box-shadow: inset 2px 2px 6px 0px rgba(5,28,69,0.7);
  -moz-box-shadow: inset 2px 2px 6px 0px rgba(5,28,69,0.7);
  box-shadow: inset 2px 2px 6px 0px rgba(5,28,69,0.7);

}
.log-chat {
  display: block;
  border-bottom: 1px solid #bbb;
  background: #eee;
  text-decoration: none;
  color: black;
}
.log-chat .log-chat-image {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    background: no-repeat white top left;
    background-size: cover;
}
.log-chat .log-chat-text {
    padding: 10px 10px;
    display: inline-block;
    float: left;
}
.log-chat:hover {
  background: #f8f8f8;
  text-decoration: none;
  color: #222;
}
.log-chat.active {
  background: white;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#header {
  height: 10vh;
}
#content {
  height: 500px;
  height: 85vh;
  overflow: auto;
  overflow-x: hidden;
}
#log-chats {
  border: 1px solid #bbb;
  height: 85vh;
  overflow-y: auto;
  background: #f0f0f0;
}
.show-older {
  cursor: pointer;
  display: block;
  text-align: center;
  background: #f0f0f0;
  padding: 10px 0;
  text-decoration: none;
}
</style>
{% endblock %}
