<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/webchat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.css">
    <title>Botshot chatbot</title>
    <noscript>
        <style>
        [data-simplebar] {
            overflow: auto;
        }
        </style>
    </noscript>
</head>
<body>
<div id="header">
    <h1>Messages for user {{ uid }}</h1>
    <div id="button_logout" onclick="logout()">Log out</div>
</div>
<div id="list_wrap" data-simplebar>
    <div id="list">
        {% for m in messages %}
            <div class="message-wrap">
                {% if m.is_response %}
                <img class="circle-image bot-message" src="{% static bot_img %}"
                     onerror='this.onerror=null; this.src="https://placehold.it/100x100"'/>
                {% else %}
                <img class="circle-image user-message" src="{% static user_img %}"
                     onerror='this.onerror=null; this.src="https://placehold.it/100x100"'/>
                {% endif %}

                {% if m.message.attachment.type == 'template' %}

                    {% if m.message.attachment.payload.template_type == 'button' %}
                        <!-- A message with buttons -->
                        <div class="bubble {% if m.is_response %} left-bubble {% else %} right-bubble {% endif %}">
                            <span class="text">{{ m.message.attachment.payload.text }}</span>
                        <div class="buttons">
                        {% for b in m.message.attachment.payload.buttons %}
                            {% if b.type == 'web_url' %}
                                <button onclick="gourl('{{ b.url }}')">{{ b.title }}</button>
                            {% elif b.type == 'postback' %}
                                <button onclick="postback('{{ b.title }}', '{{ b.payload }}')">
                                    {{ b.title }}
                                </button>
                            {% endif %}
                        {% endfor %}
                        </div>
                        </div>

                    {% elif m.message.attachment.payload.template_type == 'generic' %}
                        <!-- Horizontal (Carousel) template -->
                        <div class="template-message carousel-template" data-simplebar>
                        {% for e in m.message.attachment.payload.elements %}
                            <div class="template-element carousel-element">
                                <img src="{{ e.image_url }}"
                                     onerror="this.onerror=null;this.src='https://placehold.it/250x150'"/>
                                <h3>{{ e.title }}</h3>
                                <p>{{ e.subtitle }}</p>
                                <div class="buttons">
                                {% for b in e.buttons %}
                                    {% if b.type == 'web_url' %}
                                        <button onclick="gourl('{{ b.url }}')">{{ b.title }}</button>
                                    {% elif b.type == 'postback' %}
                                        <button onclick="postback('{{ b.title }}', '{{ b.payload}}')">
                                            {{ b.title }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                    {% elif m.message.attachment.payload.template_type == 'list' %}

                        <!-- Vertical (List) template -->
                        <div class="template-message list-template">
                        {% for e in m.message.attachment.payload.elements %}
                            <div class="template-element">
                                <img src="{{ e.image_url }}"
                                     onerror="this.onerror=null;this.src='https://placehold.it/250x150'"/>
                                <h3>{{ e.title }}</h3>
                                <p>{{ e.subtitle }}</p>
                                <div class="buttons">
                                {% for b in e.buttons %}
                                    {% if b.type == 'web_url' %}
                                        <button onclick="gourl('{{ b.url }}')">{{ b.title }}</button>
                                    {% elif b.type == 'postback' %}
                                        <button onclick="postback('{{ b.title }}', '{{ b.payload}}')">
                                            {{ b.title }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                    {% endif %}
                {% else %}
                    <!-- Text message -->
                    <div class="bubble {% if m.is_response %} bot-message {% else %} user-message {% endif %}">
                        <span class="text">{{ m.message.text }}</span>
                    </div>
                {% endif %}

                {% if m.message.quick_replies != None %}
                     <div class="quick-replies">
                        {% for b in m.message.quick_replies %}
                            <!-- TODO support postbacks here, quickreply b instead of title -->
                            <button onclick="quickreply('{{ b.title }}')">{{ b.title }}</button>
                        {% endfor %}
                    </div>
                {% endif %}
        </div>
        <span class="time" style="float: {% if m.is_response %}right{% else %}left{% endif %}">[{{ m.timestamp }}]</span>
        {% endfor %}
    </div>
</div>
<div id="footer">
    <form id="form_msg" autocomplete="off">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send">
</form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    function quickreply(text) {
        console.log("Quick reply");
        $.ajax({
                url: document.URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    message: text,
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            });
    }
    function gourl(url) {
        window.open(url, '_blank');
    }

    function postback(text, payload) {
        console.log("Postback");
        console.log(payload);
        $.ajax({
            url: document.URL,
            type: 'POST',
            dataType: 'json',
            data: {
                message: text,
                postback: payload,
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#form_msg').submit(function (e) {
            e.preventDefault();
            var txt = $('#id_message');
            $.ajax({
                url: document.URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    message: txt.val(),
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            });
            txt.val("")
        })
    });
</script>

<script type="text/javascript">
    var last_change = 0;
    var POLL_INTERVAL_MS = 1000;
    // var timestamp = "{{ timestamp }}";
    $(window).load(function() {
        $("#list_wrap").scrollTop($("#list_wrap").prop("scrollHeight"));
        setTimeout(refresh, POLL_INTERVAL_MS);
    });

    function refresh() {
        setTimeout(refresh, POLL_INTERVAL_MS);
        $.getJSON("{% url 'last_change' %}", data = {"uid": "{{uid}}"}, function (data) {
            var timestamp = data['timestamp__max'];
            if (timestamp > last_change) {
                console.log('Refreshing');
                // change occurred, reload messages
                $('#list').load(document.URL + ' #list');
                last_change = timestamp;
                $("#list_wrap").animate({scrollTop: $("#list_wrap").prop("scrollHeight")}, "slow");
            }
        });
    }

    function logout() {
        window.location = "{% url 'do_logout' %}"
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.js"></script>
